@tailwind base;

::-webkit-scrollbar {
  position: absolute;
  left: 0;
  height: 0;
  width: 0px;
}
::-webkit-scrollbar-track {
  @apply bg-green-950 rounded-xl;
}
::-webkit-scrollbar-thumb {
  @apply bg-green-500 rounded-full;
}
@tailwind components;
@tailwind utilities;
